<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RRHH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RRHH.Properties.Settings.etps4_rrhhConnectionString"
            connectionString="Data Source=DESKTOP-F0AK4UN;Initial Catalog=etps4_rrhh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <RRHH.Properties.Settings>
            <setting name="RRHH_wsRRHH_webServRRHH" serializeAs="String">
                <value>http://eddgvr2-001-site1.atempurl.com/webServRRHH.asmx</value>
            </setting>
        </RRHH.Properties.Settings>
    </applicationSettings>
</configuration>